@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-custom-bg;
}

/* body {
  background-color: #17212F;
} */

/* In your Tailwind CSS file or in a global CSS file */
.nav-link {
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 8px;
  color: #fff;
}

.nav-link:hover {
  opacity: 0.7;
}

.nav-link.active {
  font-weight: bold;
}

/* Transparent header only when not on active section */
header {
  background-color: rgba(0, 0, 0, 0.75); /* Example: semi-transparent black */
}

